/* .custom-shape-divider-top-1600696096 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1600696096 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-top-1600696096 .shape-fill {
    fill: #F5F5F5;
}
.hello{
    background-color:red;
    height: 1000px;
    width: 100%;
    background-position:center;
    background-size: cover;
} */